.nav	{ grid-area: nav; }
.list 	{ grid-area: list; }
.chat 	{ grid-area: chat; }
.empty-left { grid-area: l; }
.empty-right { grid-area: r; }

.grid-container {
	display: grid;
	grid-template-areas:   
		'l nav nav nav nav nav r'
		'l list list chat chat chat r'
		'l list list chat chat chat r'
		'l list list chat chat chat r'
		'l list list chat chat chat r'
		'l list list chat chat chat r'
		'l list list chat chat chat r'
		'l list list chat chat chat r'
		'l list list chat chat chat r';
	grid-gap: 2px;
	background-color: #00E56E;
	width: 100%; 
	grid-auto-rows: 81px;
	padding: 3px;
	/*align-self: center;*/
	/*align-content: center;*/
	/*align-items: center;*/
}
.grid-container > div {
   	background-color: rgba(255, 255, 255, 0.8);
   	padding: 20px;
	width: 100%;
	text-align: center;
}

