.container {
  width:100%;
  text-align: center;
}

.register {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

.logo {
  margin: 20px;
  margin-top: 70px;
}

.input-field {
  margin: 5px;
}

#register-form {
  margin: 10px auto;
  background-color: lightpink;
  width: 400px;
}

table {
  font-family: arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 8px;
}
