body {
  background-color: lightgreen;
  height: 100%;
}

html {
  height: 100%;
}

/* button */
.btn {
  background-color: lightgrey;
  display: inline-block;
  border-radius: 0.25rem;
  /* border: 2px solid black; */
  color: black;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  margin-left: 2px;
  margin-right: 2px;
}
.btn:hover {
  color: black;
  opacity: 0.8;
}

.navbar {
  margin-bottom: 0;
  margin: 0 auto;
}
div.navbar {
  width: 80%;
}
