body {
  background-color: lightgreen;
  height: 100%;
  text-align: center;
}

html {
  height: 100%;
}

.btn-field {
  float: right;
  margin-top: 30px;
}

.container {
  /* margin-top: 70px */
}

/* button */
.btn {
  background-color: Transparent;
  display: inline-block;
  border-radius: 0.25rem;
  border: 2px solid;
  color: lightgrey;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  margin-left: 2px;
  margin-right: 2px;
}
.btn:hover {
  color: white;
}
.btn-reg {
  color: blue;
  border: 2px solid blue;
}
.btn-reg:hover {
  background-color: blue;
}
.btn-logout {
  border: 2px solid red;
}
.btn-logout:hover {
  background-color: red;
}

.navbar {
  margin-bottom: 0;
  margin: 0 auto;
}
div.navbar {
  width: 80%;
}
.navbar-collapse {
  margin-top: 8px;
}
