body {
  background-color: lightgreen;
}

.index-container {
  width:100%;
  text-align: center;
  margin-top: 50px;
}

.logo {
  margin: 20px;
}

#register-form {
  margin: 10px auto;
  background-color: lightpink;
  width: 400px;
}

table {
  font-family: arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 8px;
}

.home-container {
  width: 50%;
  background-color: lightgrey;
  margin: 0 auto;
  height: 100%;
}

nav {
}
.nav-button {
  /* text-align: right; */
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}
