<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> DS Chat Web Project </title>

    <!--Bootstrap-->
	<!--jQuery & Bootstrap JS-->
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrl.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='bootstrap/js/ie10-viewport-bug-workaround.js') }}" rel="stylesheet">

    <!-- Web CSS-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/grid-container.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">

    <!--JavaScript-->

    <!--socketio-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
	     $(document).ready(function() {
         var socket = io.connect('http://localhost:5000');
         socket.on('connect', function() {
		         console.log('connected');
         });

         // socket.on('receive_message', function(message) {
         //   // fetch new data from db
         //   $(".message-area").append(message+'<br>');
	       // });

         socket.on('message', function(msg) {
           $(".message-area").append('<li>'+msg+'</li>');
           updateScroll();
         });

         $(".btn-sendmsg").on('click', function() {
           console.log("Sent Message: "+$("#chat-input").val())
           socket.send($("#chat-input").val());
           $("#chat-input").val("");
         });

         function updateScroll() {
           var msgDiv = document.getElementById("message-area");
           msgDiv.scrollTop = msgDiv.scrollHeight - msgDiv.clientHeight;
         }
         
	     });
    </script>
    <!-- end socketio-->



  </head>

  <body>
    <div class="navbar">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="home.html">DChat</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <a id="addFriend" class="btn btn-addchat">Create Chat</a>
              <a class="btn btn-logout">Log Out</a>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p><h2>Create Chat</h2></p>
        <div class="search-field">
          <input type="text" id="friend-username" placeholder="username"><br><br>
          <a class="btn btn-create">Create</a>
        </div>

      </div>

    </div>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <!-- end modal -->

    <div class="grid-container">

      <div class="list">
          list
      </div>

      <div class="chat">
        <div id="message-area" class="chat message-area">
          message in your area
        </div>
        <div class="chat-type">
          <input id="chat-input" type="text">
          <a class="btn btn-sendmsg">Send</a>
        </div>
      </div>


    </div>




</body>
</html>
