<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> DS Chat Web Project </title>

    <!--Bootstrap-->
    <!--jQuery & Bootstrap JS-->
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrl.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='bootstrap/js/ie10-viewport-bug-workaround.js') }}" rel="stylesheet">

    <!--socketio-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

    <!--CSS-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/chat-container.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">

    <!--JavaScript-->
    <script src="{{ url_for('static', filename='js/loadData.js') }}"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat_group.js') }}"></script>
    <script src="{{ url_for('static', filename='js/join-group.js') }}"></script>

  </head>

  <body>
    <!-- navbar -->
    <div class="navbar">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="home.html">DChat</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <h class="flashes"><b>{{ message }}</b></h>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <input id="gid-input" type="text" placeholder="group id">
              <button id="join-group">Join</button>
              <a id="createChat" class="btn btn-addchat">Create Chat</a>
              <a class="btn btn-logout" href="/logout">Log Out</a>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- end navbar -->

    <!-- modal -->
    <div id="myModal" class="modal">

      <div class="modal-content">
        <span class="close">&times;</span>
        <p align="center"><h2>Create Chat</h2></p>
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          {{ form.group_id.label }}
          {{ form.group_id(size=20) }}<br>
          {{ form.group_name.label }}
          {{ form.group_name(size=20) }}<br>
          {{ form.submit() }}
        </form>
      </div>

    </div>
    <!-- end modal -->

    <div class="row">

      <div class="column list">
        <div class="chat-list-head"> Chatlist </div>
        <div id="chat-list" class="chat-list-container">
          {% for row in group_list %}
            <li id={{row[0]}} class="chat-list-item" >{{ row[1] }}</li>
          {% endfor %}
        </div>


      </div>

      <div class="column chat">
        <div id="chat-box-head" class="chat-box-head"> </div>
        <div id="message-area" class="chat message-area">
          {% for row in read %}
            <div class="l-text-box"> {{row[1]}} [{{row[2]}}]</div>
          {% endfor%}
          <div>--------UNREAD---------</div>
          {% for row in unread %}
            <div class="l-text-box"> {{row[1]}} [{{row[2]}}]</div>
          {% endfor %}

        </div>
        <input id="chat-input" type="text" placeholder="type message here">
      </div>

    </div>

    <!-- modal for create group -->
    <script src="{{ url_for('static', filename='js/group-modal.js') }}"></script>

  </body>
</html>
