<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> DS Chat Web Project </title>

    <!--Bootstrap-->
	<!--jQuery & Bootstrap JS-->
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrl.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='bootstrap/js/ie10-viewport-bug-workaround.js') }}" rel="stylesheet">

    <!-- Web CSS-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

    <!-- Web JavaScript-->

  </head>

  <body>

    <div class="container">
    <div class="register">
      <a id="register" class="btn btn-reg" href="/register" role="button">Register</a>
    </div>
      <div class="logo">
        <img class="img-circle" src="{{ url_for('static', filename='img/logo.png') }}" alt="DChat" width="150px">
      </div>
      <div class="login-form">
        <form action ="" method="POST">
		        {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username(size=20) }} <br>
            {{ form.password.label }}
            {{ form.password(size=20) }} <br>
            {{ form.submit() }}
        </form>
      </div>

  </body>
</html>
